version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7-browsers
    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - npm-{{ checksum "package.json" }}
          - npm

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: npm-{{ checksum "package.json" }}

      - run: npm run lint
      - run: npm run test:once

      - run: bash <(curl -s https://codecov.io/bash)
