<ngx-datatable #table
  class='material list'
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="headerHeight"
  [rows]="rows"
  [rowHeight]="rowHeight"
  [rowClass]="rowClass"
  [scrollbarV]="true"
  [loadingIndicator]="isLoading"
  (activate)="$event.type === 'click' && open.emit($event.row)"
  (scroll)="onScroll($event.offsetY)"
></ngx-datatable>

<ng-template #dateTemplate let-value="value">
  <div class="column-date">
    {{ value | date:'short' }}
  </div>
</ng-template>

<ng-template #projectTemplate let-id="value">
  <app-list-cell
    [item]="projects[id]"
  ></app-list-cell>
</ng-template>

<ng-template #memberTemplate let-id="value">
  <app-list-cell
    [item]="users[id] || clients[id]"
  ></app-list-cell>
</ng-template>
