<md-toolbar>
  <button md-raised-button class='list-item-create'
    color="primary"
    (click)="onCreate()"
  >
    Create
  </button>
</md-toolbar>

<ngx-datatable #table
  class='material list'
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="headerHeight"
  [rows]="rows"
  [rowHeight]="rowHeight"
  [rowClass]="rowClass"
  [scrollbarV]="true"
  [loadingIndicator]="isLoading"
  [class.progress-bottom]="progressBottom"
  (activate)="$event.type === 'click' && onRowClick($event.row)"
  (scroll)="onScroll($event.offsetY)"
></ngx-datatable>

<ng-template #dateTemplate let-value="value">
  {{value | date:'short'}}
</ng-template>

<ng-template #projectTemplate let-value="value">
  {{value | projectName | async}}
</ng-template>
