@import '../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '../node_modules/swagger-ui-dist/swagger-ui.css';
@import './theme.scss';

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 10pt;
  line-height: 2rem;
  margin: 20px;
}

ngx-datatable {
  height: calc(100vh - 155px);
}

ngx-datatable .progress-linear {
  position: fixed !important;
  top: 0;
}
