/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 16pt;
  line-height: 2rem;
  margin:20px
}
